<div class="author">
  <h1 class="author__heading">Hi, I am ready</h1>
  <p class="author__body">BackEnd Developer</p>
</div>

<img
  src="https://raw.githubusercontent.com/RaddyTheBrand/25.NodeJs-Express-EJS-MongoDB--Blog/refs/heads/main/public/img/hero-image.webp"
  alt="persion locking out trough window"
  class="hero-img"
  width="981"
  height="528"
/>

<section class="articles">
  <h2 class="articles__heading">Latest Articles</h2>

  <ul class="article_ul">
    <li>
      <a href="#"><span>Post Article</span><span class="article__date">Date</span></a>
    </li>
  </ul>

  <a href="#" class="pagination">View Older Posts</a>

</section>
